body {
    font-family: Georgia, serif;
    background-color: #f5f5f5;
    padding: 20px;
}

h1 {
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

/* TABLE STYLING */
table {
    border-spacing: 15px; /* creates gap between cells */
}

/* COMMON CELL STYLE */
th, td {
    background-color: #f0f0f0;
    border: 2px solid #cfcfcf;
    border-radius: 12px;
    padding: 20px 40px;
    text-align: left;
    font-size: 24px;
}

/* HEADER STYLE */
th {
    font-weight: bold;
    font-size: 28px;
}